<phpunit bootstrap="./bootstrap.php" args="--stderr" colors="true">
    <testsuites>
        <testsuite>
            <directory>./DesignPatterns/</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>
